*{
  padding: 0;
  margin: 0;
  user-select: none;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url(https://images7.alphacoders.com/115/1152403.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  display:flex ;
  display: inline;
  text-align: center;
  background-color: rgba(41, 40, 40, 0.959);
  height: 700px;
  width: 500px;
  box-shadow: 0px 0px 9px 7px rgba(0, 0, 0, 0.664);
  border-radius: 10px;
}
.fundo{
  position: absolute;

}
.contato{
  color: rgb(187, 75, 0);
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 200;
  font-family: 'Cabin', sans-serif;
}
.nome{
  color: rgb(187, 75, 0);
  margin-top: 30px;
  font-family: 'Cabin', sans-serif;
  font-size: 30px;
}
.nometxt{
  height: 30px;
  width: 300px;
  background-color: rgba(41, 40, 40, 0);
  border-color: rgb(187, 75, 0);
  border-top: 0;
  border-right: 0;
  border-left: 0;
  outline: 0;
  caret-color: rgb(187, 75, 0);
  color: rgb(189, 189, 189);
  font-size: 20px;
}
.email{
  color: rgb(187, 75, 0);
  font-family: 'Cabin', sans-serif;
  margin-top: 20px;
  font-size: 30px;
}
.emailtxt{
  height: 30px;
  width: 300px;
  background-color: rgba(41, 40, 40, 0);
  border-color: rgb(187, 75, 0);
  border-top: 0;
  border-right: 0;
  border-left: 0;
  outline: 0;
  caret-color: rgb(187, 75, 0);
  color: rgb(189, 189, 189);
  font-size: 20px;
}
.assunto{
  color: rgb(187, 75, 0);
  font-family: 'Cabin', sans-serif;
  margin-top: 40px;
  font-size: 30px;
}
.assuntotxt{
  margin-top: 10px;
  height: 250px;
  width: 400px;
  background-color: rgba(41, 40, 40, 0);
  border-color: rgb(187, 75, 0);
  border-radius: 3px;
  outline: 0;
  caret-color: rgb(187, 75, 0);
  color: rgb(189, 189, 189);
  border: none;
  box-shadow: 0px 0px 7px 3px rgba(187, 75, 0, 0.842);
  padding: 20px;
  padding-top: 13px;
  font-size: 16px;
}
.enviar{
  width: 100px;
  height: 30px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.308);
  color: rgb(187, 75, 0);
  border-radius: 6px;
  border: none;
}
.enviar:hover{
  border: solid;
  border-color: rgb(187, 75, 0);
  border-width: 2px;
}
